<section class="todoapp">
    <header class="header">
        <h1>{{ title }}</h1>
        <input class="new-todo" placeholder="What needs to be done?" autofocus="" #newtodo (keyup)="addTodo($event, newtodo)">
    </header>
    <section class="main" *ngIf="todoStore.todos.length > 0">
        <input title="todo input" class="toggle-all" type="checkbox" *ngIf="todoStore.todos.length" #toggleall>
        <ul class="todo-list">
            <li *ngFor="let todo of todoStore.todos" [class.completed]="todo.completed">
                <div class="view">
                    <input title="todo item" class="toggle" type="checkbox"  (click)="toggleCompletion(todo.uid)" [checked]="todo.completed">
                    <label>{{todo.title}}</label>
                    <button class="destroy" (click)="remove(todo.uid)"></button>
                </div>
            </li>
        </ul>
    </section>
    <footer class="footer" *ngIf="todoStore.todos.length > 0">
        <span class="todo-count"><strong>{{todoStore.getRemaining().length}}</strong> {{todoStore.getRemaining().length == 1 ? 'item' : 'items'}} left</span>
        <button class="clear-completed" *ngIf="todoStore.getCompleted().length > 0" (click)="removeCompleted()">Clear completed</button>
    </footer>
</section>
